:root {
  --bg: #EDF2F0;
  --neu-1: #ecf0f3;
  --neu-2: #d1d9e6;
  --white: #f9f9f9;
  --gray: #a0a5a8;
  --black: #181818;
  --purple: #4B70E2;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  background-color: var(--neu-1);
  color: var(--gray);
  margin: 0;
  overflow: hidden;
}

.title {
  font-size: 34px;
  font-weight: 700;
  line-height: 3;
  color: var(--black);
}

.description {
  font-size: 14px;
  letter-spacing: .25px;
  text-align: center;
  line-height: 1.6;
}

.main {
  position: relative;
  width: 1000px;
  min-width: 1000px;
  min-height: 600px;
  height: 600px;
  padding: 25px;
  background-color: var(--neu-1);
  box-shadow:
    10px 10px 10px var(--neu-2),
    -10px -10px 10px var(--white);
  border-radius: 12px;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 600px;
  height: 600px;
  background-color: var(--neu-1);
}

.right-container {
  z-index: 100;
  left: calc(100% - 625px);
}

.button {
  width: 180px;
  height: 50px;
  border-radius: 25px;
  margin-top: 50px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.15px;

  background-color: var(--purple);
  color: var(--white);
  box-shadow:
    8px 8px 16px var(--neu-2),
    -8px -8px 16px var(--white);

  border: none;
  outline: none;
  cursor: pointer;
}

.button:hover {
  box-shadow:
    6px 6px 10px var(--neu-2),
    -6px -6px 10px var(--white);
  transform: scale(.985);
  transition: .25s;
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  top: 0;
  left: 0;
  height: 550px;
  width: 300px;
  z-index: 200;
  padding: 50px;
  background-color: var(--neu-1);
  overflow: hidden;


  box-shadow:
    4px 4px 10px var(--neu-2),
    -4px -4px 10px var(--white);
}

#map {
  height: 100%;
  width: 100%;
}

#upload-container,
#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#loader {
  display: none;
  flex-direction: column;
  font-size: 1.5em;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: var(--black);
  background-color: var(--white);
}

#loader-icon {
  animation: spin 2s linear infinite;
  margin-bottom: 15px;
  fill: var(--purple);
}

#loader-text {
  font-size: 14px;
  letter-spacing: .25px;
  text-align: center;
}

canvas {
  display: block;
}

.tools-container {
  position: absolute;
  left: 10px;
  z-index: 10;
  height: 150px;
  padding: 20px 2px;
  width: 50px;
  display: none;
  text-align: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  gap: 5px;
  background-color: var(--white);
}


#tools-menu button {
  padding: 15px 10px;
  margin-top: 10px;
  font-size: 14px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 25px;
  background-color: var(--neu-1);
  box-shadow:
    1px 1px 3px var(--neu-2),
    -1px -1px 3px var(--white);
}

#tools-menu button:hover {
  box-shadow:
    0.5px 0.5px 1px var(--neu-2),
    -0.5px -0.5px 1px var(--white);
  transform: scale(.98);
  transition: .25s;
}

#tools-icon {
  width: 20px;
  height: 20px;
  fill: var(--white);
}

#tools-menu button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  box-shadow: none;
  transform: none;
  background-color: var(--purple);
}

#create-building-infobox {
  position: absolute;
  top: 50%;
  left: 60%;
  z-index: 20;
  padding: 15px;
  background-color: var(--white);
  border-radius: 12px;
  display: none;
  flex-direction: column;
  align-items: center;
}

.building-input {
  width: 50px;
  height: 30px;
  margin: 5px;

  padding: 5px;
  font-size: 13px;
  letter-spacing: .15px;
  text-align: center;
  border: none;
  outline: none;

  font-family: 'Montserrat', sans-serif;
  background-color: var(--neu-1);
  transition: .25s ease;
  border-radius: 8px;
  box-shadow:
    inset 2px 2px 4px var(--neu-2),
    inset -2px -2px 4px var(--white);
}
.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.info-title {
  font-size: 14px;
  font-weight: 300;
  color: var(--gray);
  margin-bottom: 20px;
}
.info-label {
  font-size: 14px;
  color: var(--black);
  margin-right: 10px;
}
.info-button {
  width: 100px;
  height: 35px;
  font-size: 13px;
  border-radius: 20px;
  background-color: var(--purple);
  color: var(--white);
  box-shadow:
    6px 6px 10px var(--neu-2),
    -6px -6px 10px var(--white);
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
