body {
  margin: 0;
  overflow: hidden;
  background: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: sans-serif;
}

#upload-container, #loader {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#fileInput { margin-top: 10px; }

#loader {
  display: none;
  font-size: 1.5em;
  color: #0f0;
}

canvas {
  display: block;
}
#tools-menu {
  position: absolute;
  left: 10px;
  z-index: 10;
  display: none;
  flex-direction: column;
  gap: 5px;
}
#tools-menu button {
  padding: 5px 10px;
  font-size: 14px;
}
#mouse-position-label {
    position: absolute;
    padding: 4px 8px;
    background: rgba(0, 0, 0, 0.7);
    color: #0f0;
    font-family: monospace;
    font-size: 10px;
    pointer-events: none;
    border-radius: 4px;
    transform: translate(20%, 10%);
    display: none;
}