:root {
  --bg: #EDF2F0;
  --neu-1: #ecf0f3;
  --neu-2: #d1d9e6;
  --white: #f9f9f9;
  --gray: #a0a5a8;
  --black: #181818;
  --purple: #4B70E2;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  background-color: var(--neu-1);
  color: var(--gray);
}

.title {
  font-size: 34px;
  font-weight: 700;
  line-height: 3;
  color: var(--black);
}

.description {
  font-size: 14px;
  letter-spacing: .25px;
  text-align: center;
  line-height: 1.6;
}

.main {
  position: relative;
  width: 1000px;
  min-width: 1000px;
  min-height: 600px;
  height: 600px;
  padding: 25px;
  background-color: var(--neu-1);
  box-shadow:
    10px 10px 10px var(--neu-2),
    -10px -10px 10px var(--white);
  border-radius: 12px;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 600px;
  height: 600px;
  background-color: var(--neu-1);
}

.right-container {
  z-index: 100;
  left: calc(100% - 625px);
}

.button {
  width: 180px;
  height: 50px;
  border-radius: 25px;
  margin-top: 50px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.15px;

  background-color: var(--purple);
  color: var(--white);
  box-shadow:
    8px 8px 16px var(--neu-2),
    -8px -8px 16px var(--white);

  border: none;
  outline: none;
  cursor: pointer;
}

.button:hover {
  box-shadow:
    6px 6px 10px var(--neu-2),
    -6px -6px 10px var(--white);
  transform: scale(.985);
  transition: .25s;
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  top: 0;
  left: 0;
  height: 550px;
  width: 300px;
  z-index: 200;
  padding: 50px;
  background-color: var(--neu-1);
  overflow: hidden;


  box-shadow:
    4px 4px 10px var(--neu-2),
    -4px -4px 10px var(--white);
}

#map {
  height: 100%;
  width: 100%;
}

#upload-container,
#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#loader {
  display: none;
  font-size: 1.5em;
  color: var(--black);
  background-color: var(--white);
}

canvas {
  display: block;
}

#tools-menu {
  position: absolute;
  left: 10px;
  z-index: 10;
  display: none;
  flex-direction: column;
  gap: 5px;
}

#tools-menu button {
  padding: 5px 10px;
  font-size: 14px;
}

#mouse-position-label {
  position: absolute;
  padding: 4px 8px;
  background: rgba(0, 0, 0, 0.7);
  color: #0f0;
  font-family: monospace;
  font-size: 10px;
  pointer-events: none;
  border-radius: 4px;
  transform: translate(20%, 10%);
  display: none;
}